#items{

}


#items .contents{
    margin-left:0px;
    font-size: 14px;
    font-weight: thin;
    clear: both;
    overflow: hidden;
}

#items .list{
    margin-left:0px;
    padding-left: 0px;
    list-style-type: none;  
}

#items ul li{
    margin-left:0px;
    list-style-type: none;  
}

#items .contents .image{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#items .thumbnail {
    width: 64px;
    height: 64px;
    background: #888888;
    border-radius: 4px 4px 4px 4px;
}

#items .thumbnail .text{

    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    text-align:center;
    vertical-align: middle;
}

#items .contents .content{
  width: 120%;
}

#items .contents .content .title{
  overflow: hidden;
}

#items .contents .content .title p{
    font-size: 18px;
    font-weight: normal;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#items .contents .content .description{
    overflow: hidden;
}

#items .contents .content .description p{
    font-size: 16px;
    font-weight: thin;
    color:#888888;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#items .contents .content .tag{
    font-size: 16px;
    font-weight: normal;
}

#items .contents .content .tag p{
    font-size: 16px;
    font-weight: thin;
    color:#888888;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mycontainer {
  background: #eee;
  overflow: hidden;
  width: 300px;
}

.mycontainer p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
