#items{

}

#items .maintitle{
    font-size: 18px;
    padding-bottom: -1.0em;
    margin-bottom: -0.6em;
}

#items .title_divider {
    height: 3px;
    background-color: #F57C00;
    border: none;
}


#items .contents{
    margin-left:0px;
    font-size: 14px;
    font-weight: thin;
    clear: both;
    overflow: hidden;
}

#items .list{
    margin-left:0px;
    padding-left: 0px;
    list-style-type: none; 
}

#items ul li{
    margin-left:0px;
    list-style-type: none;  
}

#items .contents .image{
    float: left;
    padding-left: 0px;
    padding-right: 14px;
}

#items .contents .image a:hover{
    text-decoration: none;
}

#items .thumbnail {
    width: 64px;
    height: 64px;
    background: #888888;
    border-radius: 4px 4px 4px 4px;
}

#items .thumbnail .text{

    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    text-align:center;
    vertical-align: middle;
}

#items .contents .content{
    overflow: hidden;
}

#items .contents .content .title{
  overflow: hidden;
}

#items .contents .content .title p{
    font-size: 18px;
    font-weight: normal;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#items .contents .content .title a{
    color: #000000;
}

#items .contents .content .description{
    overflow: hidden;
}

#items .contents .content .description p{
    font-size: 14px;
    font-weight: thin;
    color:#888888;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    margin-top: 6px;
}

#items .contents .content .tag{
    overflow: hidden;
    float: left;
}

#items .contents .content .tag p{
    font-size: 14px;
    font-weight: thin;
    color:#888888;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    border-style: solid;
    border-width: 1px;
    padding-left: 6px;
    padding-right: 6px;

    margin-top: 6px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-color: #eeeeee;
}


#items .contents .content .viewinfo{
    color: #888888;
    padding-right: 10px;
    padding-top: 8px;
}

#items .contents .content .viewinfo ul{
    text-align: right;
}

#items .contents .content .viewinfo li{
    display:inline-block; 
    padding:0 1px;
    zoom:1;
}

#items .contents .content .viewinfo .viewnum{
    color: #F57C00;
    font-weight: bold;
}

#items .border {
    margin-bottom: 4px;
}

.mycontainer {
  background: #eee;
  overflow: hidden;
  width: 300px;
}

.mycontainer p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
