html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
	height: 60px;
	background-color: #666666;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer a{
	color: #cccccc;
}

#footer address{
	color: #ffffff;
	padding-left: 1.0em;
}
