html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
	padding-top: 10px;
	height: 100px;
	background-color: #666666;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer a{
	color: #cccccc;
}

#footer address{
	color: #ffffff;
	padding-left: 1.0em;
}

#contact {

}

#contact .overview{
	color: #888888;
	font-size: 16px;
}

#contact .item{
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}

#contact .item .notice{
	color: #ff0000;
}

#contact .note {

}

#contact .note .title{
	font-size: 18px;
	font-weight: bold;
	color: #888888;
}

#contact .note .subtitle{
	color: #5cb85c;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0em;
	padding: 0px;
}

#contact .note .description{
	color: #666666;
	font-size: 16px;
	padding: 0px;
}

#signup {

}

#signup .content{
}

#signup .content .title{
	font-size: 20px;
	color: #333333;	
}

#signup .content .subtitle{
	font-size: 16px;
	color: #666666;
}

#signup .content .item{
	height: 80px;
	margin-top: 10px;
}

#signup .content .snsitem{
	margin-top: 10px;
	margin-bottom: 20px;
}

#signup .content .item .subtitle{

}

#signup .content .item .note{
	color: #888888;
	font-size: 12px;
	display: inline;
}

#signup .content .item .notice{
	color: #ff0000;
	display: inline;
}

#signup .content .item .additional{
	margin-top: 14px;
}

#signup .content .item .additional a{
}

#signup .content .description{
	font-size: 16px;
	color: #666666;
}

#signup .note .title{
	font-size: 20px;
	color: #333333;
}

#signup .note .description{
	font-size: 14px;
	color: #666666;
	margin-bottom: 20px;
}


