html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
	height: 60px;
	background-color: #666666;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#pickupDirective{

}

#pickupDirective .title{
	font-size: 18px;
	font-weight: bold;
}

#pickupDirective .title{
	font-size: 18px;
	font-weight: bold;
}

#pickupDirective ul li .media-body p{
	color: #888888;
	font-size: 12px;
	font-weight: thin;
}

