html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
	height: 60px;
	background-color: #666666;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#pickupDirective{

}

#pickupDirective .title{
	font-size: 18px;
	font-weight: bold;
}

#pickupDirective .title{
	font-size: 18px;
	font-weight: bold;
}

#pickupDirective ul li .media-body p{
	color: #888888;
	font-size: 12px;
	font-weight: thin;
}

.wisdom {

}

.wisdom li{
	margin-left: 0px;
	list-style-type: none;
}

.wisdom .titlearea{
	background-color: #fcfcfc;
}

.wisdom .titlearea .title{
	color: #333333;
	padding-top: 0px;
	margin-top: -0.2em;
}

.wisdom .titlearea .description{
	color: #333333;
}

.wisdom .bodyarea{
	background-color: #ffffff;
}

.wisdom .date{
	color: #888888;
}










