#overview{
	background-color: #888888;
}

#overview .title{
	color: #ffffff;
	font-size: 28px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#overview .message{
	color: #ffffff;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 14px;
}

#overview .title_dark{
	color: #333333;
	font-size: 28px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#overview .message_dark{
	color: #333333;
	font-size: 22px;
	padding-left: 20px;
	padding-top: 14px;
}

#overview .description1{
	/*height: 640px;*/
	background-color: #2a5a72;
	/*background-image: url(../image/overview1.jpg);*/
}

#overview .description2{
	/*height: 640px;*/
	background-color: #a4b940;
	/*background-image: url(../image/overview2.jpg);*/
}

#overview .description3{
	/*height: 640px;*/
	background-color: #79bee9;
}

#overview .description4{
	/*height: 640px;*/
	background-color: #f7ad1c;
}

#overview .description5{
	/*height: 640px;*/
	background-color: #33691E;
}