.jumbotron {
    margin-bottom: 20px;
    background-image: url(../image/heroshot.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: none;
}

.jumbotron .title{
	float: left;
}

.jumbotron .subtitle{
	clear:both;
}


.jumbotron .description{


}

#sidebar{

}

#sidebar .parentItem{
	border-style: none;
}

#sidebar .childItem{
	color: #888888;
}