.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width:1000px;
}

.jumbotron {
    margin-bottom: 20px;
    background-image: url(../image/heroshot.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: none;
}

.jumbotron .title{
	float: left;
}

.jumbotron .subtitle{
	clear:both;
}


.jumbotron .description{


}

#pickupDirective{

}

#pickupDirective .title{
    font-size: 18px;
    font-weight: normal;
    word-wrap: break-word;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


#pickupDirective .contents{
    margin-left:0px;
    font-size: 14px;
    font-weight: thin;
}

#pickupDirective .list{
    margin-left:0px;
    padding-left: 0px;
    list-style-type: none;  
}

#pickupDirective ul li{
    margin-left:0px;
    list-style-type: none;  
}

#pickupDirective .contents .image{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#pickupDirective .contents .content a{
    color: #000000;
}

#pickupDirective .contents p{
    color: #888888;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    word-wrap: break-word;
}

#pickupDirective .thumbnail {
    width: 64px;
    height: 64px;
    background: #888888;
    border-radius: 4px 4px 4px 4px;
}

#pickupDirective .thumbnail .text{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    text-align:center;
    vertical-align: middle;
}


#sidebar{

}

#sidebar .parentItem{
	border-style: none;
}

#sidebar .childItem{
	color: #888888;
}

#ranking{

}

#ranking .title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0.0em;
}

#ranking .media{

}

#ranking .media-heading{
    font-size: 14px;
    font-weight: thin;
    color: #333333;
}

#ranking .media-body{
    font-size: 14px;
    font-weight: thin;
    color: #888888;
}

#infobar{
    padding: 0px;
    margin-top: 0px;
}

#infobar .title{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0.0em;

}

#infobar .list{
    margin-left:0px;
    padding-left: 0px;
    list-style-type: none;
}

#infobar .list .contents{

}

#infobar .list .contents .image{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#infobar .list .contents .content{
    
}

#infobar .list .contents .content{
    font-size: 16px;
    color: #000000;

    font-weight: normal;
    word-wrap: break-word;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#infobar .list .contents .content p{
    font-size: 14px;
    color: #888888;

    font-weight: normal;
    word-wrap: break-word;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#infobar .thumbnail {
    width: 48px;
    height: 48px;
    background: #888888;
    border-radius: 2px 2px 2px 2px;
}

#infobar .thumbnail .text{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 28px;
    text-align:center;
    vertical-align: middle;
}

