#userpage {

}

#userpage .header{
	background-color: #eeeeee;
}

#userpage .header .thumbnail{
	border-radius: 50%;
	height: 72px;
	width: 72px;
	background-color: #FF0000;
}

#userpage .header .thumbnail .username{
	color: #FFFFFF;
	font-size: 48px;
    text-align:center;
    vertical-align: middle;
}

/*
.userpage li{
	margin-left: 0px;
	list-style-type: none;
}

.userpage .titlearea{
	background-color: #fcfcfc;
}

.userpage .titlearea .title{
	color: #333333;
	padding-top: 0px;
	margin-top: -0.2em;
}

.userpage .titlearea .description{
	color: #333333;
}

.userpage .bodyarea{
	background-color: #ffffff;
}

.userpage .bodyarea .subtitle{
	background-color: #ffffff;
	margin-top: 2.0em;
}

.userpage .date{
	color: #888888;
}
*/









