.wisdom {

}

.wisdom li{
	margin-left: 0px;
	list-style-type: none;
}

.wisdom .titlearea{
	background-color: #fcfcfc;
}

.wisdom .titlearea .title{
	color: #333333;
	padding-top: 0px;
	margin-top: -0.2em;
}

.wisdom .titlearea .description{
	color: #333333;
}

.wisdom .bodyarea{
	background-color: #ffffff;
}

.wisdom .bodyarea .subtitle{
	background-color: #ffffff;
	margin-top: 2.0em;
}

.wisdom .date{
	color: #888888;
}

#newwisdom{

}

#newwisdom .subTitle{
	font-size: 24px;
}

#newwisdom .notice{
	color: #ff0000;
	font-size: 18px;
}

#newwisdom .error{
	color: #ff0000;
	font-size: 12px;
}


