#pickupDirective{

}

#pickupDirective .title{
	font-size: 18px;
	font-weight: normal;
	word-wrap: break-word;
	white-space: nowrap;
	max-width: 80%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}


#pickupDirective .contents{
	margin-left:0px;
	font-size: 14px;
	font-weight: thin;
}

#pickupDirective .list{
	margin-left:0px;
	padding-left: 0px;
	list-style-type: none;	
}

#pickupDirective ul li{
	margin-left:0px;
	list-style-type: none;	
}

#pickupDirective .contents .image{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}

#pickupDirective .contents p{
	color: #888888;
	white-space: nowrap;
	max-width: 80%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;

	word-wrap: break-word;
}

.wisdom {

}

.wisdom li{
	margin-left: 0px;
	list-style-type: none;
}

.wisdom .titlearea{
	background-color: #fcfcfc;
}

.wisdom .titlearea .title{
	color: #333333;
	padding-top: 0px;
	margin-top: -0.2em;
}

.wisdom .titlearea .description{
	color: #333333;
}

.wisdom .bodyarea{
	background-color: #ffffff;
}

.wisdom .bodyarea .subtitle{
	background-color: #ffffff;
	margin-top: 2.0em;
}

.wisdom .date{
	color: #888888;
}










