.wisdom {

}

.wisdom li{
	margin-left: 0px;
	list-style-type: none;
}

.wisdom .titlearea{
	background-color: #f0f0f0;
	padding-left: 10px;
	padding-right: 10px;
}

.wisdom .titlearea .thumbnail{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.wisdom .titlearea .thumbnail .image {
    width: 144px;
    height: 144px;
    background: #888888;
    border-radius: 8px 8px 8px 8px;
	position: relative;
	margin: -4px;
}

.wisdom .titlearea .thumbnail .image .text{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
}

.wisdom .titlearea .content{
}

.wisdom .titlearea .content .title{
	font-size: 32px;
	color: #000000;
}

.wisdom .titlearea .content .description{
	color: #333333;
	font-size: 16px;
	font-weight: normal;
}

.wisdom .titlearea .content .tag{
    overflow: hidden;
    float: left;
/*	color: #333333;
	font-size: 16px;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	border-color: #cfcfcf;
	background-color: #eeeeee;
	padding: 4px 6px 4px 6px;
	border-radius: 2px;*/
}

.wisdom .titlearea .content .tag p{
    font-size: 14px;
    font-weight: thin;
    color:#888888;

    margin: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    border-style: solid;
    border-width: 1px;
    padding-left: 6px;
    padding-right: 6px;

    margin-top: 6px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-color: #eeeeee;
}

.wisdom .titlearea .content .status {
	clear: both;
	padding-bottom: 2px;
}

.wisdom .titlearea .content .updateDate {
	color: #666666;
    overflow: hidden;
    float: left;
}

.wisdom .titlearea .content .viewinfo{
    color: #888888;
    padding-right: 10px;
}

.wisdom .titlearea .content .viewinfo ul{
    text-align: right;
}

.wisdom .titlearea .content .viewinfo li{
    display:inline-block; 
    padding:0 1px;
    zoom:1;
}

.wisdom .titlearea .content .viewinfo .viewnum{
    color: #F57C00;
    font-weight: bold;
}

.wisdom .bodyarea ul {
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}

.wisdom .bodyarea{
	padding-left: 10px;
}

.wisdom .bodyarea .subtitle{
	font-size: 32px;
	font-weight: 100;
	width: 100%;
	border-bottom: solid 2px #888888;
	margin-top: 2.0em;
}

.wisdom .bodyarea .message{
	clear: both;
}

.wisdom .bodyarea .message .messageBody{
	font-size: 16px;
}

.wisdom .bodyarea .message .update{
	color: #888888;
	text-align: left;
	float: left;
}

.wisdom .bodyarea .message .like{
	color: #888888;
	text-align: right;
}

.wisdom .bodyarea .message .clear{
	clear: both;
}

.wisdom .date{
	color: #888888;
}

.wisdom .accountSelector{
	margin-top: 20px;
	width: 100%;
}

.wisdom .accountSelector .buttons{
	margin-top: 20px;
	text-align: center;
}

#newwisdom{

}

#newwisdom .subTitle{
	font-size: 24px;
}

#newwisdom .notice{
	color: #ff0000;
	font-size: 18px;
}

#newwisdom .count{
	color: #F4511E;
	text-align: right;
}

#newwisdom .error{
	color: #ff0000;
	font-size: 12px;
}

#newwisdom .panel-heading{

}

#newwisdom .panel-body{

}

#instruction {

}

