<nav class="navbar navbar-default" ng-controller="headerController" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="switchNavivarStatus()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/">chienowa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
      <ul class="nav navbar-nav">
        <li ng-click="switchNavivarStatus()"><a ui-sref="overview" translate="header.overview">Overview</a></li>
        <li ng-click="switchNavivarStatus()"><a ui-sref="contact" translate="header.contact">Contact</a></li>
        <li ng-click="switchNavivarStatus()"><a href="http://mame0112.hatenablog.com/" translate="header.blog">Blog</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'header.search_help' | translate}}" ng-model="searchParam">
        </div>
        <button class="btn btn-default" ng-click="searchWisdom(searchParam)" analytics-on="click" analytics-event="Search" translate="header.search_button">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="switchNavivarStatus()"><a ui-sref="newwisdom" ng-click="onCreatePageSelect()" translate="header.create_page">Create page</a></li>
        <li ng-click="switchNavivarStatus()"><a ui-sref="signin" ng-click="onSigninOptionSelect()" ng-show="isSigninVisible()" translate="header.sign_in">Sign in</a></li>
        <li ng-click="switchNavivarStatus()"><a ui-sref="signup" ng-click="onSignupOptionSelect()" ng-show="isSignupVisible()" translate="header.sign_up">Sign up</a></li>
        <li ng-click="switchNavivarStatus()"><a ui-sref="user.detail({userId: getUserId()})">{{getUserName()}}</a></li>
        <li ng-click="switchNavivarStatus()"><a ui-sref="#/view/{{getUserId(userData)}}" ng-click="onUserInfoSelect()" ng-show="isUserInfoVisible()"><img ng-src="{{getThumbnail(userData)}}"></a>
        </li>
        <li class="dropdown" dropdown on-toggle="toggled(open)" ng-show="isNotificationVisible()">
          <a href class="dropdown-toggle" dropdown-toggle translate="header.notification">
            Notification
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="/" ng-click="signout()">Sign out</a></li>
            <li ng-if="isNowJapanese() === true" ng-click="switchNavivarStatus()"><a ui-sref="/" ng-click="changeLanguage('en')">Switch to English</a></li>
            <li ng-if="isNowEnglish() === true" ng-click="switchNavivarStatus()"><a ui-sref="/" ng-click="changeLanguage('ja')">日本語に切り替え</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
</nav>
