<dib ng-controller="messageOperationController" ng-init="initialize()">
	<div class="form-group">
	<div class="btn-group" role="group" aria-label="item selection">
		<div ng-show="panelCondition">
		  <button type="button" class="btn btn-default">Left</button>
		  <button type="button" class="btn btn-default">Middle</button>
		  <button type="button" class="btn btn-default">Right</button>
		</div>
		<button type="button" class="btn btn-default" ng-click="showTitleField()">Title</button>
		<button type="button" class="btn btn-default" ng-click="showDescriptionField()">Description</button>
	</div>

	<div class="panel panel-default" ng-repeat="data in saveArray track by $index">
	  <div ng-class="getMessageType(data)">{{data.text}}</div>
	  <!--
	  <div class="panel-body">
	    {{data.text}}
	  </div>
	  -->
	</div>

	<div class="form-group" ng-model="message">
		<h3 ng-show="messageState">input sub title</h3>
		<h3 ng-show="!messageState">input sub description</h3>
		<input type="text" class="form-control" placeholder="Input something" ng-model="messageField">
		<button type="button" class="btn btn-default">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="saveMessageTexts(messageField)">Save</button>
	</div>
</div>
</dib>