<dib ng-controller="messageOperationController" ng-init="initialize()">
	<div class="form-group">
	<div class="btn-group" role="group" aria-label="item selection">
		<button type="button" class="btn btn-default" ng-click="showTitleField()">Title</button>
		<button type="button" class="btn btn-default" ng-click="showDescriptionField()">Description</button>
	</div>

	<div class="panel panel-default" ng-repeat="data in saveArray track by $index" ng-mouseenter="onMouseOver($index)" ng-mouseleave="onMouseLeave($index)">
		<div class="btn-group" role="group" aria-label="Control selection">
			<div ng-show="panelCondition[$index]">
			  <button type="button" class="btn btn-default" ng-click="modidyInputMessage(data)">Modidy</button>
			  <button type="button" class="btn btn-default" ng-click="deleteInputMessage(data)">Delete</button>
			  <button type="button" class="btn btn-default" ng-click="moveUpMessagePosition(data)">Up</button>
			  <button type="button" class="btn btn-default" ng-click="moveDownMessagePosition(data)">Down</button>
			</div>
		</div>
	  <div ng-class="getMessageType(data)">{{data.entry}}</div>
	</div>

	<div class="form-group" ng-model="message">
		<h3 ng-show="messageState">input sub title</h3>
		<h3 ng-show="!messageState">input sub description</h3>
		<input type="text" class="form-control" placeholder="Input something" ng-model="messageField">
		<button type="button" class="btn btn-default">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="saveMessageTexts(messageField)">Save</button>
	</div>
</div>
</dib>