<dib ng-controller="messageOperationController" ng-init="initialize()">

<div class="callout callout-success">
	<div class="btn-group" role="group" aria-label="item selection">
		<button type="button" class="btn btn-default" ng-click="showTitleField()">Title</button>
		<button type="button" class="btn btn-default" ng-click="showDescriptionField()">Description</button>
	</div>
</div>


	<!-- This part is for initial step (since saveArray is  0 at the beginning) -->
<div class="callout callout-success" ng-show="isInputtingNewMessageState()">
	<div class="form-group">
		<h4 ng-show="messageState">input sub title</h4>
		<h4 ng-show="!messageState">input sub description</h4>
		<input type="text" class="form-control" placeholder="Input something" ng-model="messageField" name="message" ng-minlength="10">
		<button type="button" class="btn btn-default" ng-click="hideDefaultMessageInputArea()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="saveMessageTexts(messageField)">Save</button>
		<span class="error" ng-show="newwisdom.message.$error.minlength">Required more than 10 characters</span>
	</div>
</div>


<div class="callout callout-success" ng-show="saveArray.length !== 0">
	<!-- This part is for already input information. -->
	<div ng-repeat="data in saveArray track by $index" ng-mouseenter="onMouseOver($index)" ng-mouseleave="onMouseLeave($index)" class="frame">
		<div class="item">
		  <button type="button" class="btn btn-default btn-xs" ng-click="modifyInputMessage(data, $index)" ng-show="panelCondition[$index] == true">Modify</button>
		  <button type="button" class="btn btn-default btn-xs" ng-click="deleteInputMessage(data)" ng-show="panelCondition[$index] == true">Delete</button>
		  <button type="button" class="btn btn-default btn-xs" ng-click="moveUpMessagePosition(saveArray, $index)" ng-show="panelCondition[$index] == true">Up</button>
		  <button type="button" class="btn btn-default btn-xs" ng-click="moveDownMessagePosition(saveArray, $index)" ng-show="panelCondition[$index] == true">Down</button>
		  <button type="button" class="btn btn-default btn-xs" ng-click="moveMessageUpToTop(saveArray, $index)" ng-show="panelCondition[$index] == true">Top</button>
		  <button type="button" class="btn btn-default btn-xs" ng-click="moveMessageDownToBottom(saveArray, $index)" ng-show="panelCondition[$index] == true">Bottom</button>
	  	</div>
<!-- 		<div ng-show="panelCondition[$index] == false" class="empty">
		</div> -->

		<div ng-class="findCssClassbyType(data)" ng-show="isOriginalMessageDisplayed(index)">{{data.entry}}</div>
		<div class="form-group" ng-show="isModifyPanelVisible($index)">
			<h4>Modify input text</h4>
			<input type="text" class="form-control" placeholder="Input something" ng-model="messageModifyField">
			<button type="button" class="btn btn-default" ng-click="hideMessageInputArea($index)">Cancel</button>
			<button type="button" class="btn btn-primary" ng-click="saveModifiedTexts(data, messageModifyField, $index)">Save</button>
		</div>
	</disv>
</div>

</div>
</dib>