<div id="items" ng-controller="pickupController" ng-init="initialize()">
<div class="title">{{today}}'s wisdom</div>
<ul ng-repeat="data in wisdoms" class="list">
	<li class="contents">
	<div class="image">
		<a ui-sref="wisdom({wisdomId: data.id})">
		<!--
	    <img src="image/64-64.png" alt="" class="media-object" />
		<div class="square" ng-style="{background: '#FF0000'}">
		<div class="square" ng-style="creativeColorGenerateService.getThumbnailBackgroundColor(data.title)"></div>
	    -->
		<div class="thumbnail" ng-style="{'background': creativeColorGenerateService.generateColor(data.title)}">
			<div class="text">{{data.title | capitalize}}</div>
		</div>
	    </a>
	</div>
	<div class="content">
		<a ui-sref="wisdom({wisdomId: data.id})">
			<div class="title">{{data.title}}</div>
		</a>
		<div class="description">{{data.description}}</div>
		<div class="tag">{{data.tag}}</div>
	</div>
	<hr class="border">
	</li>
</ul>
<!--
	<ul class="media-list" ng-repeat="data in wisdoms">
		<li class="media">
			<a class="pull-left" ui-sref="wisdom({wisdomId: data.id})">
	        <img src="image/64-64.png" alt="" class="media-object" />
    	    </a>
		    <div class="media-body">
		        <a ui-sref="wisdom({wisdomId: data.id})">
		        	<h4 class="media-heading">{{data.title}}</h4>
	        	</a>
			<p>{{data.description}}</p>
			<p>{{data.tag}}</p>
		    </div>
		</li>
	</ul>
-->

</div>