<div id="ranking" ng-controller="rankingController" ng-init="initialize()">
<div class="maintitle">{{today}}'s ranking</div>
<hr class="title_divider">
<div class="media" ng-repeat="score in scores">
  <div class="media-left">
	  <img class="media-object" src="../image/ranking_1st.png" alt="..." ng-if="$index == 0">
	  <img class="media-object" src="../image/ranking_2nd.png" alt="..." ng-if="$index == 1">
	  <img class="media-object" src="../image/ranking_3rd.png" alt="..." ng-if="$index == 2">
	  <img class="media-object" src="../image/ranking_4th.png" alt="..." ng-if="$index !== 0 && $index !== 1 && $index !== 2">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{score.username}}</h4>
{{score.point}}pt
  </div>
</div>
</div>