<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Filter -->
	<filter>
		<filter-name>seoFilter</filter-name>
		<filter-class>com.mame.wisdom.seo.CrawlServlet</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>
			seoFilter
	    </filter-name>
	    <url-pattern>
	      /*
	    </url-pattern>
	  </filter-mapping>
	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.mame.wisdom.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/wisdom_backend/greet</url-pattern>
	</servlet-mapping>

	<!-- Main controller class for Wisdom backend -->
	<servlet>
		<servlet-name>controllerServlet</servlet-name>
		<servlet-class>com.mame.wisdom.WisdomControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>controllerServlet</servlet-name>
		<url-pattern>/controller/*</url-pattern>
	</servlet-mapping>

	<!-- cron job -->
	<servlet>
		<servlet-name>cronServlet</servlet-name>
		<servlet-class>com.mame.wisdom.WisdomCronServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cronServlet</servlet-name>
		<url-pattern>/cron/*</url-pattern>
	</servlet-mapping>

	<!-- Task queue -->
	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>com.mame.wisdom.search.TaskQueueWorker</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>com.mame.wisdom.datastore.blobstore.WisdomBlobstore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <servlet-name>process</servlet-name> <servlet-class>com.mame.wisdom.datastore.taskqueue.Enqueue</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>process</servlet-name> <url-pattern>/process</url-pattern> 
		</servlet-mapping> -->
	<!-- Clean up _ah_session -->
	<servlet-mapping>
		<servlet-name>_ah_sessioncleanup</servlet-name>
		<url-pattern>/_ah/sessioncleanup</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>session-cleanup</web-resource-name>
			<url-pattern>/_ah/sessioncleanup</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
