<div ng-controller="categoryController">
	{{categoryName}}: {{totalNum}}
	<ul class="media-list">
		<li class="media" ng-repeat="data in params">
		    <a class="pull-left" ng-href="#/view/1">
		        <img src="image/64-64.png" alt="" class="media-object" />
		    </a>
		    <div class="media-body">
		        <h4 class="media-heading">{{data.title}}</h4>
		        {{data.tag}}
		        {{data.description}}
		        {{data.updated}}
		    </div>
		</li>
	</ul>

	<nav>
	  <ul class="pagination">
	    <li class="active"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	    <li class="{{isActive()}}"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	    <li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>
	    <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
	  </ul>
	</nav>

	<ul class="pagination">
    <li><a aria-label="Previous" ng-click="pagination.prevPage()">&laquo;</a></li>
	<li ng-repeat="data in params | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
	<a ng-click="pagination.toPageId(data.id)">{{data.id}}</a></li>
	<li><a aria-label="Previous" ng-click="pagination.nextPage()">&raquo;</a></li>
	</ul>
</div>
