<div ng-controller="wisdomCreateController">
<form role="form">
<div class="form-group">
	<h3>Category</h3>
	<div class="btn-group" dropdown>
	<select ng-model="category" ng-options="c.name as c.name for c in categories">
	   <option value="">Select category</option>
	</select>
   </div>

	<div class="btn-group" dropdown is-open="status.isopen1">
	      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	        Select category <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li ng-repeat="data in category"><a ng-href="#">{{data.name}}</a></li>
	      </ul>
	</div>
</div>
<div class="form-group">
	<h3>Sub category</h3>
	<div class="btn-group" dropdown is-open="status.isopen2">
	      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	        Select sub category <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="#">Action</a></li>
	        <li><a href="#">Another action</a></li>
	        <li><a href="#">Something else here</a></li>
	        <li class="divider"></li>
	        <li><a href="#">Separated link</a></li>
	      </ul>
	</div>
</div>
<div class="form-group">
	<h3>input tag</h3>
	<p>Input tag if necessary. (e.g. “Classic” or “Jazz” for “Music” category / “Piano” sub category)</p>
	<input type="text" class="form-control" placeholder="Input tag" ng-model="tag">
</div>

<div class="form-group">
	<h3>Thumbnail</h3>
	<input type="file" name="thumbnail" value="select image">
</div>

<div class="form-group">
	<h3>Title</h3>
	<input type="text" class="form-control" placeholder="Input title" ng-model="title" ng->
</div>

<div class="form-group">
	<h3>Description</h3>
	<input type="text" class="form-control" placeholder="Input description">
</div>

<div class="form-group">
	<div class="btn-group" role="group" aria-label="item selection">
	  <button type="button" class="btn btn-default">Sub title</button>
	  <button type="button" class="btn btn-default">Free text</button>
	</div>
</div>

<div class="form-group">
	<button type="submit" class="btn btn-default" ng-click="{{addNewWisdom(title)}}">Create new wisdom</button>
</div>
</form>
</div>

