<div ng-controller="wisdomCreateController">
<form role="form">
<div class="form-group">
	<h3>Category</h3>
	<div class="btn-group" dropdown>
	<select ng-model="category" ng-options="c.name as c.name for c in categories" ng-change="getSubcategoryItems(category)">
	   <option value="">Select category</option>
	</select>
   </div>
</div>
<div class="form-group">
	<h3>Sub Category</h3>
	<div class="btn-group" dropdown>
	<select ng-model="subCategory" ng-options="s.name as s.name for s in subcategories">
	   <option value="">Select sub category</option>
	</select>
   </div>
</div>

<div class="form-group">
	<h3>input tag</h3>
	<p>Input tag if necessary. (e.g. “Classic” or “Jazz” for “Music” category / “Piano” sub category)</p>
	<input type="text" class="form-control" placeholder="Input tag" ng-model="tag">
</div>

<div class="form-group">
	<h3>Thumbnail</h3>
	<input type="file" name="thumbnail" value="select image">
</div>

<div class="form-group">
	<h3>Title</h3>
	<input type="text" class="form-control" placeholder="Input title" ng-model="title">
</div>

<div class="form-group">
	<h3>Description</h3>
	<input type="text" class="form-control" placeholder="Input description" ng-model="description">
</div>

<div message-control-directive></div>

<div class="form-group">
	<button type="submit" class="btn btn-default" ng-click="addNewWisdom()">Create new wisdom</button>
</div>
</form>
</div>

