<div id="overview">
	<div class="description1">
		<div class="title">chienowa[チエノワ]</div>
		<div class="message">chienowa[チエノワ]は、みんなで知恵を出し合い、</div>
		<div class="message">初心者の”ここさえ見れば間違いない”を作る、</div>
		<div class="message">初心者向け知恵共有プラットフォームです。</div>
	</div>
	<div class="description2">
		<div class="title">初心者の悩み、それは、何から始めたらいいか分からないこと。</div>
		<div class="message">何かを始めたときのことを思い出してみてください。</div>
		<div class="message">音楽の演奏や英語、プログラミングなど。</div>
		<div class="message">情報が多すぎて、最初は何から始めたらいいか、迷いませんでしたか？</div>
		<div class="message">そんな悩みを解決したい、そう想いこのサービスを立ち上げました。</div>
	</div>
	<div class="description3">
		<div class="title">あなたの知恵と工夫は、必ず誰かの役に立つ。</div>
		<div class="message">あなたはすでに立派に何かの経験者。</div>
		<div class="message">あなたが知っている知恵と工夫は、必ず誰かを笑顔にする。</div>
		<div class="message">あなたの知恵、シェアしませんか？</div>
	</div>
	<div class="description4">
		<div class="title_dark">みんなで一つの知恵を編集。</div>
		<div class="message_dark">”ここだけ見れば大丈夫”な場所を作る。</div>
		<div class="message_dark">そのために、誰かが作った知恵も、もし間違っていたら編集しよう。</div>
		<div class="message_dark">知恵を共創（きょうそう）する場。</div>
		<div class="message_dark">それがchienowa[チエノワ]です。</div>
	</div>
	<div class="description5">
		<div class="title">早速始めてみよう。</div>
		<div class="message">chienowa[チエノワ]は、もちろんすべて無料。</div>
	</div>
</div>