<div>
	<h1>プライバシーポリシー</h1>
		<div class="terms">運営者は、chienowa[チエノワ] (以下、chienowa)をご利用になる方のプライバシーを尊重し、chienowaをご利用になられる全てのユーザーの個人情報の管理に細心の注意を払います。
			ユーザーは本プライバシーポリシーに基づき、ご自身に関する情報を運営者が収集、記録、開示、あるいはその他の方法で利用することに同意したことになります。
			これはユーザーが住んでいる場所やデータを入力した場所の国や地域を問いません。</div>
		<h2>1. 個人情報</h2>
		<ul>
			<li>個人情報とは、氏名、電子メールアドレス、パスワード、SNSのアカウント情報、IPアドレス、タイムスタンプ、
				投稿した情報や、コメント等などの情報、また運営者に寄せられたご相談またはお問い合せの情報等であって、
				これらのうちの1つあるいは2つ以上を組み合せることによって、特定の個人を識別できるものを指します。</li>
		</ul>
		<h2>2. 個人情報の利用目的</h2>
		<div class="terms">運営者は、取得した個人情報を以下の目的のために利用させていただきます。</div>
		<ol>
			<li>本サービスの提供と、それに準ずるサービスのご案内を差し上げるため</li>
			<li>ユーザーへの連絡、商品・サービスの案内、プレゼントの発送等のため</li>
			<li>ユーザーの年齢、職業、性別、趣味・嗜好等に合わせて本サービスのページ上の情報、サービスおよび広告配信をカスタマイズするため</li>
			<li>本サービスの改善や新サービスの開発等に役立てるため</li>
			<li>本サービスの利用規約に違反する態様でのご利用を防止するため</li>
			<li>本サービスに関して、個人を識別できない形式に加工した統計データを作成するため</li>
		</ol>
		<h2>3. 利用目的による制限</h2>
		<ul>
			<li>運営者は、取得した個人情報について、利用目的の達成に必要な範囲内で取り扱います。個人情報を利用目的の範囲外で取り扱う場合は、あらかじめユーザーご本人の同意を得て行います。ただし、法令により開示を求められた場合、または裁判所、警察などの公共機関から開示を求められた場合には、ユーザーの同意なく個人情報を開示・提供することがあります。</li>
		</ul>
		<h2>4. 情報の取得</h2>
		<ul>
			<li>運営者は、個人情報の入手を適法かつ公正な手段によって行い、ユーザーの意思に反する不正な方法により入手いたしません。</li>
		</ul>
		<h2>5. 個人情報の適切な保護</h2>
		<ul>
			<li>運営者は、ユーザーの個人情報を、正確、最新のものとするよう適切な処置を講じます。また、ユーザーの個人情報を適切かつ安全に管理します。</li>
		</ul>
		<h2>6. 委託先の監督</h2>
		<ul>
			<li>運営者は、取得した個人情報の取扱いを委託する場合があります。その場合には、個人情報の預託に係わる基本契約等の必要な契約を締結し、委託を受けた者に対する必要かつ適切な監督をおこないます。</li>
		</ul>
		<h2>7. 個人情報の第三者への提供</h2>
		<ul>
			<li>運営者は、ユーザーの個人情報について、ユーザーご本人の同意を得ずに第三者に提供することは原則としておこないません。ただしユーザーがサードパーティのWebクライアントを使ってご自身のchienowaアカウントにアクセスする時や、法令により開示を求められた場合、または裁判所、警察などの公共機関から開示を求められた場合には、ユーザーの同意なく個人情報を開示・提供することがあります。</li>
		</ul>
		<h2>8. 個人情報の開示</h2>
		<div class="terms">ユーザーはご本人の個人情報に限り、運営者に開示を求めることができます。
			ただし、以下の場合は、その全部または一部を開示しない場合があります。</div>
		<ol>
			<li>ユーザーご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
			<li>運営者のサービス提供の適正な実施に著しい支障を及ぼすおそれがある場合</li>
			<li>他の法令に違反するおそれがある場合</li>
			<li>ユーザーご本人であることを運営者が充分に確認できない場合</li>
		</ol>
		<div class="terms">個人情報の開示のお手続きはこちらxxxxxxxxxxxxxxxxxxxxxxxx@gmail.com</div>
		<h2>9. 個人情報の訂正、利用停止等の手続</h2>
		<ul>
			<li>運営者は、ユーザーご本人より当該本人の個人情報の訂正、追加、削除、利用の停止または消去を求められた場合には、ユーザーご本人であることを確認させていただいた上で合理的な期間内に対応いたします。
			</li>
		</ul>
		<div class="terms">個人情報の訂正、利用停止等のお手続きはこちらxxxxxxxxxxxxxx@gmail.com</div>
		<h2>10. 免責</h2>
		<div class="terms">以下の場合は、第三者による個人情報の取得に関し、運営者は何らの責任を負いません。</div>
		<ol>
			<li>ユーザーご本人が本サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合</li>
			<li>ユーザーが本サービス上に入力した情報等により、個人が識別できてしまった場合</li>
		</ol>
		<h2>11. 統計データの利用</h2>
		<ol>
			<li>運営者は、取得したユーザーの個人情報をもとに、個人を識別できないように加工した統計データを作成することがあります。個人を識別できない統計データについては、運営者は何ら制限なく利用することができるものとします。</li>
		</ol>
		<h2>12. クッキーの使用等について</h2>
		<ol>
			<li>運営者は、ユーザーが、運営者や運営者の提携先等のサービスをご利用になったり、ページをご覧になったりする際に、ユーザーのクッキー情報やユーザーがご覧になった広告・ページ、ユーザーのご利用環境などの情報をユーザーのブラウザから自動的に受け取り、サーバーに記録する場合があります。</li>
			<li>運営者は、運営者のサイトに掲載される広告の一部の表示および配信を第三者企業に委託する場合があります。これらの第三者企業がクッキーを設定している場合には、情報は第三者企業のサーバーに記録され、第三者企業のプライバシーポリシーのもとで管理されます。</li>
		</ol>
		<h2>13. Google Analyticsについて</h2>
		<ol>
			<li>本サービスでは、「Google
				アナリティクス」を利用して、アクセスの解析を行っています。ここで解析されるデータは、個人を特定できる情報は一切含まない、匿名のデータのみが対象となりますのでご了承ください。</li>
			<li>この解析データは、今後のサービス運営の際の品質向上のために利用されます。</li>
			<li>Cookieを無効に設定されますと、当サービスを正常にご利用いただくことができませんので、あらかじめご了承ください。</li>
		</ol>
		<h2>14. プライバシーポリシーの改定について</h2>
		<ol>
			<li>運営者は、プライバシーポリシーの全部または一部を改定することがあります。</li>
		</ol>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48246180-3', 'auto');
</script>

