<div ng-controller="searchResultController" ng-init="initialize()" id="items">
<div ng-if="!!wisdomNum == -1" translate="search.loading">
	Loading...
</div>
<div ng-if="!!wisdomNum == 0" translate="search.not_found">
	No wisdom found
</div>
<div ng-if="!!wisdoms >= 1">
	<div class="maintitle" translate="search.title" translate-values="{value: searchWord, value2: wisdomNum}">"{{searchWord}}" search result (Total {{wisdomNum}} wisdom)</div>
	<hr class="title_divider">
	<ul ng-repeat="data in wisdoms" class="list">
		<li class="contents">
		<div class="image">
			<a ui-sref="wisdom({wisdomId: data.id})">
			<!--
		    <img src="image/64-64.png" alt="" class="media-object" />
			<div class="square" ng-style="{background: '#FF0000'}">
			<div class="square" ng-style="creativeColorGenerateService.getThumbnailBackgroundColor(data.title)"></div>
		    -->
			<div class="thumbnail" ng-style="{'background': creativeColorGenerateService.generateColor(data.title)}">
				<div class="text">{{data.title | capitalize}}</div>
			</div>
		    </a>
		</div>
		<div class="content">
		<!--
			<div class="title"><p><a ui-sref="wisdom({wisdomId: data.id})">{{data.title}}</a></p></div>
			-->
			<div class="title"><a ui-sref="wisdom({wisdomId: data.id})"><p>{{data.title}}</p></a></div>
			<div class="description"><p>{{data.description}}</p></div>
			<div class="tag"><p>{{data.tag}}</p></div>
			<div class="viewinfo">
				<ul>
					<li><div class="viewnum">{{data.count}}</div></li>
					<li>view</li>
				</ul>
			</div>

		</div>
		<hr class="border">
		</li>
	</ul>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48246180-3', 'auto');
</script>
