<div>
<h2>第1条 はじめに</h2>
	<ol>
		<li>この利用規約（以下「本利用規約」といいます）は、chienowa[チエノワ]
			(以下本サービス)が本サイト上で提供するサービスを、ユーザーが利用する際の一切の行為に適用されます。</li>
		<li>本利用規約は、本サービスの利用条件を定めるものです。ユーザーは、本利用規約に従い本サービスを利用するものとします。</li>
		<li>ユーザーは、本サービスを利用することにより、本利用規約の全ての記載内容について同意したものとみなされます。</li>
	</ol>
	<h2>第2条 定義</h2>
	<div class="terms">本利用規約において使用する用語の意義は、次の各号に定めるとおりとします。</div>
	<ol>
		<li>本サイト
			<ul>
				<li>「chienowa[チエノワ]」と称するウェブサイト、をいいます。</li>
			</ul>
		</li>
		<li>本サービス
			<ul>
				<li>本サイト上で提供される全てのサービスをいいます。</li>
			</ul>
		</li>
		<li>その他の利用規約等
			<ul>
				<li>有料サービス利用規約、その他各サービスの利用規約等名称の如何に関わらず、本利用規約以外の規定であって、本サービスの利用条件を定めるものをいいます。</li>
			</ul>
		</li>
		<li>ユーザー
			<ul>
				<li>本サイトを利用するために会員登録している者をいいます。</li>
			</ul>
		</li>
		<li>登録メールアドレス
			<ul>
				<li>本サービスの提供を受ける目的で、ユーザーが本サービスに提供したメールアドレスの情報をいいます。</li>
			</ul>
		</li>
		<li>パスワード
			<ul>
				<li>本サービスを利用するにあたって、登録メールアドレスと照合して本人を識別するための文字列をいいます。</li>
			</ul>
		</li>
		<li>SNS情報
			<ul>
				<li>本サービスを利用するにあたって、FacebookやTwitterのソーシャルネットワークサービスのアカウント情報を利用して本人を識別するための情報をいいます。</li>
			</ul>
		</li>
		<li>知恵情報
			<ul>
				<li>ユーザーが本サービス内で投稿した情報をいいます。</li>
			</ul>
		</li>
	</ol>
	<h2>第3条 本利用規約の範囲</h2>
	<ol>
		<li>本サイトには、本利用規約及びその他の利用規約等において、本サービスの利用条件が規定されています。その他の利用規約等は名称の如何に関わらず本利用規約の一部を構成するものとします。</li>
		<li>本利用規約の規定とその他の利用規約等の規定が異なる場合は、当該その他の利用規約等の規定が優先して適用されるものとします。</li>
	</ol>
	<h2>第4条 本利用規約の変更</h2>
	<ol>
		<li>運営者は、運営者の判断により、本利用規約をいつでも任意の理由で変更することができるものとします。</li>
		<li>変更後の利用規約は、運営者が別途定める場合を除いて、本サイト上に表示した時点より効力を生じるものとします。</li>
		<li>ユーザーが、本利用規約の変更の効力が生じた後に本サービスをご利用になる場合には、変更後の利用規約の全ての記載内容に同意したものとみなされます。</li>
	</ol>

	<h2>第5条 個人情報の取扱い</h2>
	<ol>
		<li>運営者は、個人情報を「プライバシーポリシー」に基づき、適切に取り扱うものとします。</li>
	</ol>
	<h2>第6条 通信の秘密</h2>
	<ol>
		<li>運営者は、電気通信事業法（昭和59年法律第86号）第4条に基づき、ユーザーの通信の秘密を守ります。ただし、法令により開示を求められた場合、または裁判所、警察などの公共機関から開示を求められた場合には、お客様の同意なく個人情報を開示・提供することがあります。</li>
	</ol>
	<h2>第7条 入会</h2>
	<ol>
		<li>本サービスの利用を希望する者は、本利用規約の内容に同意した上で、運営者所定の方法により、入会の申込を行うものとします。</li>
		<li>入会の申込をした者（以下「入会申込者」といいます。）は、運営者が入会の申込を承諾した時点でユーザーになります。</li>
		<li>運営者は、運営者の定めるところにより、本サービスの機能やツールを、ユーザーの年齢や利用環境等の条件に応じて提供するものとします。</li>
		<li>運営者は、ユーザーに対して新サービスの告知、広告配信、サービス 運営上の事務連絡、その他情報の提供を行います。</li>
	</ol>
	<h2>第8条 入会申込の不承諾</h2>
	<div class="terms">運営者は、次の各号のいずれかに該当する場合は、運営者の判断によって、入会申込者の入会申込を承諾しないことがあります。</div>
	<ol>
		<li>入会申込者が、前条第2項の方法によらずに入会の申込を行った場合</li>
		<li>入会申込者が、過去に本利用規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合</li>
		<li>その他運営者が不適切と判断した場合</li>
	</ol>
	<h2>第9条 退会</h2>
	<ol>
		<li>ユーザーが退会を希望する場合には、ユーザーは、運営者所定の方法により、運営者に退会の申出を行うものとします。運営者所定の方法とは、xxxxxxxxxxxxxxxxx@gmail.comに「ユーザー名」、および「パスワード」、「退会希望の旨」を明記しメールすることとします。</li>
		<li>退会はメールを受けつけてから１ヶ月以内に行います。ただし運営者はGoogleやほかの検索エンジンにインデックスされたデータを管理することはできません。</li>
		<li>運営者は、ユーザーが次の各号に掲げるいずれかの行為を行った場合には、運営者の判断によって、ユーザーを強制的に退会させて本サービスの利用をお断りすることがあります。
			<ol>
				<li>第7条第2項の方法によらずに入会の申込を行ったことが明らかとなった場合</li>
				<li>本利用規約又はその他の利用規約等に違反した場合</li>
				<li>その他運営者が不適切と判断した場合</li>
			</ol>
		</li>
	</ol>
	<h2>第10条 登録メールアドレス及びパスワードの管理</h2>
	<ol>
		<li>ユーザーは、自分の管理に属する使用可能なメールアドレスを登録メールアドレスとして登録しなければならず、当該登録メールアドレスが自己の管理に属さなくなったときには、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。</li>
		<li>ユーザーは、自己の登録メールアドレス及びパスワードの不正利用の防止に努めるとともに、その管理について一切の責任を持つものとします。</li>
		<li>登録メールアドレスやパスワードが第三者に利用されたことによって生じた損害等につきましては、運営者に重過失がある場合を除き、運営者はいかなる責任も負いません。</li>
	</ol>
	<h2>第11条 アカウントの保有</h2>
	<ol>
		<li>ユーザーは1人につき1つのアカウントを保有するものとします。1人が複数のアカウントを保有すること、複数人が1つのアカウントを共同して保有することはできません。ただし、運営者が別に認めたものを除きます。</li>
		<li>ユーザーはいかなる場合においても、アカウントを第三者に譲渡又は貸与することはできません。</li>
	</ol>
	<h2>第12条 利用環境の整備</h2>
	<ol>
		<li>ユーザーは、本サービスを利用するために必要なあらゆる機器、ソフトウェア、通信手段を自己の責任と費用において、適切に整備するものとします。</li>
		<li>ユーザーは自己の利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を講じるものとします。</li>
		<li>運営者はユーザーの利用環境について一切関与せず、また一切の責任を負いません。</li>
	</ol>
	<h2>第13条 ユーザーの責任</h2>
	<ol>
		<li>ユーザーは、ユーザー自身の自己責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負います。</li>
		<li>本サービスを利用してユーザーが投稿した友達情報やコメントに関する責任は、ユーザー自身にあります。運営者はユーザーが本サービスを利用して投稿した友達情報やコメントの情報の内容について、一切責任を負いません。</li>
		<li>ユーザーが他人の名誉を毀損した場合、プライバシー権を侵害した
			場合、許諾なく第三者の個人情報を開示した場合、著作権法（昭和45年法律第48号）に違反する行為を行った場合その他他人の権利を侵害した場合には、当該ユーザーは自身の責任と費用において解決しなければならず、運営者は一切の責任を負いません。</li>
		<li>ユーザーは、ユーザーが本サービスを利用して投稿した友達情報やコメントの情報について運営者に保存義務がないことを認識し、必要な友達情報やコメントの情報については適宜バックアップをとるものとします。</li>
	</ol>
	<h2>第14条 禁止事項</h2>
	<div class="terms">
		ユーザーは、本サービスの利用にあたり、次に掲げる行為を行ってはならないものとします。禁止事項に違反した場合には、強制退会、利用停止、友達情報やコメントの情報の全部もしくは一部の削除、又は公開範囲の変更等の不利益な措置を採ることがあります。
	</div>
	<ol>
		<li>運営者もしくは他者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。</li>
		<li>運営者もしくは他者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害するおそれのある行為。</li>
		<li>運営者もしくは他者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。</li>
		<li>自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装ったり、又は他の人物や組織と提携、協力関係にあると偽って本サービスを利用する行為。</li>
		<li>詐欺、規制薬物の濫用、児童売買春、預貯金口座及び携帯電話の違法な売買等の犯罪に結びつく、又は結びつくおそれのある行為。</li>
		<li>わいせつ、児童ポルノ又は児童虐待に相当するコメントの情報について、次に掲げるいずれかの行為を行うこと。
			<ol>
				<li>これらの情報を投稿又は表示する行為。</li>
				<li>これらの情報を収録した媒体を販売する行為。</li>
				<li>これらの情報を収録した媒体の送信、表示、販売を想起させる広告を投稿又は表示する行為。</li>
			</ol>
		</li>
		<li>性行為、わいせつな行為等を目的として利用する行為。</li>
		<li>青少年の家出を誘引・助長する行為。</li>
		<li>違法な賭博・ギャンブルを行わせ、又は違法な賭博・ギャンブルへの参加を勧誘する行為。</li>
		<li>違法行為（けん銃等の譲渡、爆発物の製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を請け負い、仲介し、又は誘引する行為。</li>
		<li>他人を自殺に誘引又は勧誘する行為。</li>
		<li>次に掲げるコメント等の情報を投稿し、又は表示する行為。
			<ol>
				<li>人の殺害、傷害現場を撮影したコメント等の情報。</li>
				<li>死体を撮影したコメント等の情報。</li>
				<li>その他残虐な行為を撮影したものや、グロテスクな画像等、他のユーザーが不快を感じる可能性が高いと運営者が判断するコメント等の情報。</li>
				<li>自分以外の氏名、住所、勤務先、電話番号等個人を特定しうる内容の情報。</li>
				<li>金融機関等の口座番号を含むコメント等の情報。</li>
				<li>商業用の広告、宣伝又は勧誘を目的とするコメント等の情報。ただし、運営者が別に認めたものを除く。</li>
				<li>アフィリエイトのリンクを含むコメント等の情報。</li>
				<li>無限連鎖講（ネズミ講）、チェーンメール、MLM、リードメール等他人を勧誘する内容のコメント等の情報。</li>
				<li>アダルトサイト、ワンクリック詐欺サイト、ウィルス等の有害なコンピュータプログラム等を流布させることを目的とするサイト等運営者が不適切と判断するサイトに誘導するコメント等の情報（単にリンクを張る行為を含む）。</li>
				<li>その他運営者が不適切と判断するコメント等の情報。</li>
			</ol>
		</li>
		<li>スパム投稿・スパムメッセージ・スパムＵＲＬを一人又は複数のユーザーが、コメント等の情報に投稿、または表示する行為。その他運営者がスパムと判断する行為。</li>
		<li>1人が複数のアカウントを保有する行為又は複数人が1つのアカウントを共同して保有する行為。ただし、運営者が別に認めたものを除く。</li>
		<li>13歳未満の方が本サービスを利用する行為。ただし、運営者が別に認めたものを除く。</li>
		<li>運営者に強制退会とされたユーザーを招待する行為。</li>
		<li>運営者又は他者の設備に蓄積された情報を不正に書き換え、又は消去する行為。</li>
		<li>ウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為。</li>
		<li>運営者又は他者のサーバーに負担をかける行為、もしくは、本サービスの運営やネットワーク・システムに支障を与える行為、又はこれらのおそれのある行為。</li>
		<li>その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する目的でリンクを貼る行為。</li>
		<li>法令、公序良俗又は本利用規約もしくはその他の利用規約等に違反し、又は他者の権利を侵害すると運営者が判断する行為。</li>
		<li>その他、運営者が不適切と判断する行為。</li>
	</ol>
	<h2>第15条 サービスの変更等</h2>
	<ol>
		<li>又は他者のは、又は他者の都合により、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。</li>
	</ol>
	<h2>第16条 有料サービス</h2>
	<ol>
		<li>登録及びサービスは無料とします。</li>
		<li>ただし、今後運営者の判断に基づき、有料サービスとすることができます。</li>
		<li>有料サービスとなる際は本サービス上にその旨が掲載され、ユーザーが合意した有効となります。</li>
	</ol>

	<h2>第17条 コメント等の情報に関する権利</h2>
	<ol>
		<li>本サービスを利用して情報を投稿するユーザーは、運営者に対し、当該コメント等の情報が第三者の権利を侵害していないことを保証するものとします。万一、第三者との間で何らかの紛争が発生した場合には、当該ユーザーの費用と責任において問題を解決するとともに、運営者に何等の迷惑又は損害を与えないものとします。</li>
	</ol>

	<h2>第18条 知恵情報等の情報の使用許諾等</h2>
	<ol>
		<li>本サービスを利用して投稿された知恵情報等の情報の権利（著作権および著作者人格権等の周辺権利）は、すべて運営者に帰属します。</li>
	</ol>
	<h2>第19条 免責事項</h2>
	<ol>
		<li>運営者は、ユーザーの通信や活動に関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、運営者はその責任を負いません。</li>
		<li>運営者は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</li>
		<li>運営者は、ユーザーによって投稿されるコメント等の情報を監視したり、保存する義務を負いません。</li>
		<li>運営者は、ユーザーによって投稿されるコメント等の情報の合法性、道徳性、信頼性、正確性について責任を負いません。ユーザーによって投稿されるコメント等の情報が、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、責任を負いません。</li>
		<li>運営者は、次に掲げる場合には、当該コメント等の情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」といいます）ができるものとします。運営者は、それによって生じたいかなる損害についても、一切責任を負いません。
			<ol>
				<li>本サービスの技術的不具合の原因を解明し、解消するため必要な場合。</li>
				<li>裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合。</li>
				<li>本利用規約に違反する行為又はそのおそれのある行為が行われ、コメント等の情報の内容を確認する必要が生じたと運営者が判断した場合。</li>
				<li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると運営者が判断した場合。</li>
				<li>その他本サイトを適切に運営するために必要が生じた場合。</li>
			</ol>
		</li>
		<li>運営者は、本利用規約又はその他の利用規約等に違反する行為又はそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーの強制退会処分、友達情報やコメント等の情報の全部もしくは一部の削除、変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。</li>
	</ol>
	<h2>第20条 運営者の削除権限</h2>
	<div class="terms">運営者は、次に掲げる場合には、友達情報やコメント等の情報の違法性・規約違反の有無に関わらず、関連する友達情報やコメント等の情報について、その全部もしくは一部の削除、変更等の不利益な措置を行うことができるものとします。</div>
	<ol>
		<li>人（実在の人物であるか否かを問わず、漫画・アニメ等のキャラクターを含みます）の裸体（着衣の全部又は一部を欠くものをいいます）を撮影・描写したコメント等の情報が投稿された場合。</li>
		<li>公的な機関又は専門家（国、地方公共団体、特定電気通信役務
			提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットラインセンター、弁護士
			等をいいます）から、友達情報やコメント等の情報について、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合。</li>
		<li>権利者と称する者から、友達情報やコメント等の情報が自分の権利を侵害する旨の申告があった場合。ただし、権利者と称する者から、権利者であることを合理的に判断できる資料を提示され、運営者にて慎重に検討した結果、権利者であると運営者が判断した場合に限る。</li>
	</ol>
	<h2>第21条 本利用規約及びその他の利用規約等の有効性</h2>
	<ol>
		<li>利用規約及びその他の利用規約等の規定の一部が法令に基づいて無効と判断されても、本利用規約及びその他の利用規約等のその他の規定は有効とします。</li>
		<li>利用規約等の規定の一部があるユーザーとの関係で無効とされ、又は取り消された場合でも、利用規約等はその他のユーザーとの関係では有効とします。</li>
	</ol>
	<h2>第22条 本利用規約又はその他の利用規約等違反行為等への対処</h2>
	<ol>
		<li>本利用規約又はその他の利用規約等に違反する行為を発見した場合には、xxxxxxxxxxxxxxx@gmail.comまでご連絡ください。</li>
		<li>ユーザーが本利用規約又はその他の利用規約等に違反したと認められる場合、その他運営者が必要と認める場合は、運営者は当該ユーザーに対し以下の対処を講ずることがあります。
			<ol>
				<li>本利用規約又はその他の利用規約等に違反する行為等を止め、同様の行為を繰り返さないことを要求すること。</li>
				<li>友達情報やコメント等の情報の全部もしくは一部を削除すること。</li>
				<li>強制退会処分とすること。</li>
				<li>入会申込者の入会申込を承諾しないこと。</li>
			</ol>
		</li>
		<li>ユーザーは、運営者が本規約に基づいて行った本利用規約又はその他の利用規約等に違反する行為等への対処について、異議を申し立てることはできないものとします。</li>
	</ol>
	<h2>第23条 準拠法及び管轄裁判所</h2>
	<ol>
		<li>本利用規約の準拠法は、日本法とします。</li>
		<li>ユーザーと運営者の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
	</ol>
	<h2>附則</h2>
	<ol>
		<li>本利用規約は平成27年6月1日から施行します。</li>
		<li>本利用規約の施行前にユーザーによって行われた行為についても本利用規約が適用されます。</li>
	</ol>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48246180-3', 'auto');
  ga('require', 'displayfeatures');
</script>
