<div ng-controller="UserDataController" ng-init="initialize()" id="userpage">
<div class="header">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	  	<div class="user">
			<div class="thumbnail" ng-style="{'background': userColor}">
				<div class="initial">W</div>
			</div>
			<div class="username">User name</div>
		</div>
	  </div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-2">
			<div class="caption">
				<div class="title">Created</div>
				<div class="value">{{messages.length}}</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-2">
			<div class="caption">
				<div class="title">Like</div>
				<div class="value">0 (TBU)</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-2">
			<div class="caption">
			<div class="title">Point</div>
			<div class="value">{{point}}</div>
			</div>
		</div>
	</div>
</div>

<div class="body">
<h2>Created</h2>
<div ng-repeat="message in messages">
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{message.title}}</h4>
	    {{message.description}} / {{message.tag}} / {{timeFormatService.getFormattedTime(message.updated_date)}}
	  </div>
	</div>
</div>
	 <button type="button" class="btn btn-default">See more</button>
<h2>Like</h2>
<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	 <button type="button" class="btn btn-default">See more</button>
<h2>Point</h2>
<div>
	{{point}}pt
</div>

</div>


</div>
