<div ng-controller="UserDataController" ng-init="initialize()" id="userpage">
<div class="header">
	<h1>user page here.</h1>
	<div class="row">
	  <div class="col-sm-6 col-md-2">
		  <div class="thumbnail">
	      <div class="username">W</div>
	      </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-2">
	      <div class="caption">
	        <h3>Created</h3>
	        <p>{{messages.length}} wisdoms</p>
	      </div>
	  </div>
	  <div class="col-sm-6 col-md-2">
	      <div class="caption">
	        <h3>Like</h3>
	        <p>0 (To be updated)</p>
	      </div>
	  </div>
	  <div class="col-sm-6 col-md-2">
	      <div class="caption">
	        <h3>Point</h3>
	        <p>{{point}}</p>
	      </div>
	  </div>
	</div>
</div>

<div class="row">
<h2>Created</h2>
<div ng-repeat="message in messages">
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{message.title}}</h4>
	    {{message.description}} / {{message.tag}} / {{timeFormatService.getFormattedTime(message.updated_date)}}
	  </div>
	</div>
</div>
	 <button type="button" class="btn btn-default">See more</button>
<h2>Like</h2>
<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	 <button type="button" class="btn btn-default">See more</button>
<h2>Point</h2>
<div>
	{{point}}pt
</div>

</div>


</div>
