<div ng-controller="UserDataController" ng-init="initialize()" id="userpage">
<div class="col-md-4">
	<div class="sidebar">
		<div class="header">
			<div class="thumbnail" ng-style="{'background': userColor}">
				<div class="initial">{{userName | capitalize}}</div>
			</div>
		</div>

		<div class="username">
		{{userName}}
		</div>
		<div class="status">
			<p class="title">Created</p>
			<p class="count">{{creates.length}}</p>
		</div>
		<div class="status">
			<p class="title">Like</p>
			<p class="count">0 (TBU)</p>
		</div>
		<div class="status">
			<p class="title">Point</p>
			<p class="count">{{point}}</p>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="category">

		<p class="title">Created</p>
		<hr class="headDivider">
		<div class="note" ng-if="!!creates.length == 0">
			No created wisdom
		</div>
		<div class="contents" ng-repeat="message in creates">
			<div class="image">
				<a ui-sref="wisdom({wisdomId: message.id})">
					<div class="thumbnail" ng-style="{'background': colorGenerator.generateColor(message.title)}">
					<div class="text">{{message.title | capitalize}}</div>
					</div>
				</a>
			</div>
			<div class="content">
				<div class="title"><p><a ui-sref="wisdom({wisdomId: message.id})">{{message.title}}</a></p></div>
				<div class="description"><p>{{message.description}}</p></div>
				<div class="tag"><p>{{message.tag}}</p></div>
			</div>
			<hr>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="category">

		<p class="title">Liked</p>
		<hr class="headDivider">
		<div class="note" ng-if="!!likes.length == 0">
			No liked wisdom
		</div>
		<div class="contents" ng-repeat="message in likes">
			<div class="image">
				<a ui-sref="wisdom({wisdomId: message.id})">
					<div class="thumbnail" ng-style="{'background': colorGenerator.generateColor(message.title)}">
					<div class="text">{{message.title | capitalize}}</div>
					</div>
				</a>
			</div>
			<div class="content">
				<div class="title">{{message.title}}</div>
				<p>{{message.description}}</p>
				<p>{{message.tag}}</p>
				<p>{{timeFormatService.getFormattedTime(message.updated_date)}}</p>
			</div>
			<hr>
		</div>
	</div>
</div>

</div>

<!--
<div ng-controller="UserDataController" ng-init="initialize()" id="userpage">
<div class="header">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	  	<div class="user">
			<div class="thumbnail" ng-style="{'background': userColor}">
				<div class="initial">W</div>
			</div>
			<div class="username">User name</div>
		</div>
	  </div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-2">
			<div class="caption">
				<div class="title">Created</div>
				<div class="value">{{messages.length}}</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-2">
			<div class="caption">
				<div class="title">Like</div>
				<div class="value">0 (TBU)</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-2">
			<div class="caption">
			<div class="title">Point</div>
			<div class="value">{{point}}</div>
			</div>
		</div>
	</div>
</div>

<div class="body">
	<h2>Created</h2>
	<div class="contents" ng-repeat="message in messages">
		<div class="image">
			<a ui-sref="#">
				<div class="thumbnail" ng-style="{'background': colorGenerator.generateColor(message.title)}">
				<div class="text">{{message.title | capitalize}}</div>
				</div>
			</a>
		</div>
		<div class="content">
			<div class="title">{{message.title}}</div>
			<p>{{message.description}}</p>
			<p>{{message.tag}}</p>
			<p>{{timeFormatService.getFormattedTime(message.updated_date)}}</p>
		</div>
		<hr>
	</div>

	 <button type="button" class="btn btn-default">See more</button>
<h2>Like</h2>
<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="image/64-64.png" alt="...">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Media heading</h4>
	    General description / type / date
	  </div>
	</div>
	 <button type="button" class="btn btn-default">See more</button>
<h2>Point</h2>
<div>
	{{point}}pt
</div>

</div>
</div>

-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48246180-3', 'auto');
</script>
