<div ng-controller="categoryController" ng-init="initialize()">
<div ng-if="wisdomNum > 0">
	{{categoryName}} / {{subCategoryName}} /{{wisdomNum}}
	<ul class="media-list">
		<li class="media" ng-repeat="data in wisdoms">
		    <a class="pull-left" ng-href="#/view/1">
		        <img src="image/64-64.png" alt="" class="media-object" />
		    </a>
		    <div class="media-body">
		        <h4 class="media-heading">{{data.tag}}</h4>
		        {{data.description}}
		        {{timeFormatService.getFormattedTime(data.updated_date)}}
		    </div>
		</li>
	</ul>

	<!--Oagination part -->
	<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
</div>

<div ng-if="!!wisdomNum == false">
	No content.
</div>

</div>
