<div ng-controller="wisdomCreateController" ng-init="initialize()" id="newwisdom">

<form role="form" name="newwisdom" novalidation>
<p class="description"><font color="#ff0000">*</font> is mandatory</p>

<div class="subTitle">Basic information</div>
<div class="basic">

	<div class="callout callout-success">
		<h4>Category</h4>
		<div class="btn-group" dropdown>
			<select ng-model="category" name="category" ng-model="category" ng-options="c.name as c.name for c in categories"
			ng-change="getSubcategoryItems(category)" required>
			<option value="">Select category</option>
			</select>
			<span class="notice" ng-show="newwisdom.category.$error.required">*</span>
		</div>
	</div>

	<div class="callout callout-success">
		<h4>Sub Category</h4>
			<div class="btn-group" dropdown>
				<select ng-model="subCategory" name="subCategory" ng-options="s.name as s.name for s in subCategories" required>
				<option value="">Select sub category</option>
				</select>
				<span class="notice" ng-show="newwisdom.subCategory.$error.required">*</span>
			</div>
	</div>

	<div class="callout callout-success">
	<h4>input tag
		<span class="notice" ng-show="newwisdom.tag.$error.required">*</span>
	</h4>
		<p>Input tag if necessary. (e.g. “Classic” or “Jazz” for “Music” category / “Piano” sub category)</p>
		<input type="text" class="form-control" placeholder="Input tag" name="tag" ng-model="wisdom.tag" required ng-minlength="2" ng-maxlength="10">
		<span class="error" ng-show="newwisdom.tag.$error.minlength">Required more than 2 characters</span>
		<span class="error" ng-show="newwisdom.tag.$error.maxlength">Required less than 10 characters</span>
	</div>

	<div class="callout callout-success">
		<h4>Thumbnail</h4>

		<div class="form-group">
			<input type="file" ng-file-select="onFileSelect($files)">
		</div>
		<!--

		<div class="form-group">
			<input type="file" name="thumbnail" value="select image">
		</div>

		<div class="form-group">
		 watching model:
		    <button class="button" ng-file-select ng-model="files">Upload using model $watch {{files}}</button>
		    <button class="button" ng-file-select="upload($files)">Upload on file change</button>
		    <button class="button" ng-click="uploadFile()">Upload</button>
		    Drop File:
		    <div ng-file-drop ng-model="files" class="drop-box" 
		        drag-over-class="dragover" ng-multiple="true" allow-dir="true"
		        accept=".jpg,.png,.pdf">Drop Images or PDFs files here</div>
		    <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
		</div>
		-->
	</div>

	<div class="callout callout-success">
		<h4>Title
			<span class="notice" ng-show="newwisdom.title.$error.required">*</span>
		</h4>
		<input type="text" class="form-control" placeholder="Input title" name="title" ng-model="wisdom.title" required ng-maxlength="{{titleMaxLength}}">
		<p class="count">{{titleMaxLength - wisdom.title.length}}/{{titleMaxLength}}</p>
		<span class="error" ng-show="newwisdom.title.$error.maxlength">Title must be less than {{titleMaxLength}} characters</span>
	</div>

	<div class="callout callout-success">
		<h4>Description
			<span class="notice" ng-show="newwisdom.description.$error.required">*</span>
		</h4>
		<input type="text" class="form-control" placeholder="Input description" name="description" ng-model="wisdom.description" required ng-maxlength="{{descMaxLength}}">
		<p class="count">{{descMaxLength - wisdom.description.length}}/{{descMaxLength}}</p>
		<span class="error" ng-show="newwisdom.description.$error.maxlength">Required less than {{descMaxLength}} characters</span>
	</div>
</div>

<div class="subTitle">Optional information</div>

<div message-control-directive></div>

<div class="form-group">
	<input type="checkbox" checked="checked" ng-model="agreeToTos"> Agree to <a ng-href="#/tos" target="_blank">Terms of service</a>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary" ng-click="addNewWisdom()" ng-disabled="!agreeToTos">Create new wisdom</button>
</div>

</form>
</div>



<form ng-submit="uploadFile()" ng-controller="uploadCtrl">
   <div class="row">
         <div class="col-md-12">
                  <input type="text" ng-model="model.fileDescription" />
                  <input type="number" ng-model="model.rating" />
                  <input type="checkbox" ng-model="model.isAGoodFile" />
                  <input type="file" ng-file-select="onFileSelect($files)">
                  <div class="progress" style="margin-top: 20px;">
                    <div class="progress-bar" progress-bar="uploadProgress" role="progressbar">
                      <span ng-bind="uploadProgress"></span>
                      <span>%</span>
                    </div>
                  </div>

                  <button button type="submit" class="btn btn-default btn-lg">
                    <i class="fa fa-cloud-upload"></i>
                    &nbsp;
                    <span>Upload File</span>
                  </button>
                </div>
              </div>
            </form>
