<div ng-controller="wisdomCreateController" ng-init="initialize()" id="newwisdom">
<form role="form" name="newwisdom" novalidation>
<div class="header">
	<p class="note">*</p>
	<p class="description" translate="newwisdom.mandatory_text"> is mandatory</p>
</div>

<div class="subTitle" translate="newwisdom.basic_title">Basic information</div>
<div class="basic">

	<div class="callout callout-success">
		<div>
			<span class="name" translate="newwisdom.category">Category</span>
			<span class="notice" ng-show="newwisdom.category.$error.required">*</span>
		</div>
		<div class="btn-group" dropdown>
			<select ng-model="category" name="category" ng-model="category" ng-options="c.name as c.translate for c in categories"
			ng-change="getSubcategoryItems(category)" required>
			<option value="" translate="newwisdom.select_category">Select category</option>
			{{c.name}}
			</select>
		</div>
	</div>

	<div class="callout callout-success">
		<div>
			<span class="name" translate="newwisdom.subcategory">Sub Category</span>
			<span class="notice" ng-show="newwisdom.subCategory.$error.required">*</span>
		</div>
		<div class="btn-group" dropdown>
			<select ng-model="subCategory" name="subCategory" ng-options="s.name as s.translate for s in subCategories" required>
			<option value="" translate="newwisdom.select_subcategory">Select sub category</option>
			</select>

		</div>
	</div>

	<div class="callout callout-success">
		<div>
			<span class="name" translate="newwisdom.tag">input tag</span>
			<span class="notice" ng-show="newwisdom.tag.$error.required">*</span>
		</div>
		<p translate="newwisdom.tag_description">Input tag if necessary. (e.g. “Classic” or “Jazz” for “Music” category / “Piano” sub category)</p>
		<input type="text" class="form-control" placeholder="{{'newwisdom.tag_help' | translate}}" name="tag" ng-model="wisdom.tag" required ng-minlength="2" ng-maxlength="8">
		<span class="error" ng-show="newwisdom.tag.$error.minlength">Required more than 2 characters</span>
		<span class="error" ng-show="newwisdom.tag.$error.maxlength">Required less than 8 characters</span>
	</div>

	<div class="callout callout-success">
		<span class="name" translate="newwisdom.thumbnail">Thumbnail</span>
		<div class="form-group">
			<input type="file" ng-file-select="onFileSelect($files)">
		</div>
	</div>

	<div class="callout callout-success">
		<div>
			<span class="name" translate="newwisdom.title">Title</span>
			<span class="notice" ng-show="newwisdom.title.$error.required">*</span>
		</div>
		<input type="text" class="form-control" placeholder="{{'newwisdom.title_help' | translate}}" name="title" ng-model="wisdom.title" required ng-maxlength="{{titleMaxLength}}">
		<p class="count">{{titleMaxLength - wisdom.title.length}}/{{titleMaxLength}}</p>
		<span class="error" ng-show="newwisdom.title.$error.maxlength">Title must be less than {{titleMaxLength}} characters</span>
	</div>

	<div class="callout callout-success">
		<div>
			<span class="name" translate="newwisdom.description">Description</span>
			<span class="notice" ng-show="newwisdom.description.$error.required">*</span>
		</div>
		<textarea type="text" class="description" placeholder="{{'newwisdom.description_help'|translate}}" name="description" ng-model="wisdom.description" required ng-maxlength="{{descMaxLength}}"></textarea>
		<p class="count">{{descMaxLength - wisdom.description.length}}/{{descMaxLength}}</p>
		<span class="error" ng-show="newwisdom.description.$error.maxlength">Required less than {{descMaxLength}} characters</span>
	</div>
</div>

<div class="subTitle" translate="newwisdom.optional_title_text">Optional information</div>

<div message-control-directive></div>

<div class="form-group">

	<input type="checkbox" checked="checked" ng-model="agreeToTos" ng-click="tosChanged(agreeToTos)" translate="newwisdom.agree_to_tos"> Agree to <a ng-href="#/tos" target="_blank">Terms of service</a>
aa{{agreeToTos}}
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary" ng-click="addNewWisdom()" ng-disabled="isTosDisabled()" translate="newwisdom.create_button">Create new wisdom</button>
</div>

</form>
</div>
