<div ng-controller="SigninController" ng-init="initialize()" id="signup">
<div class="content">
  <p class="title" translate="signin.title_sns">Sign in 'chienowa' by SNS account</p>
  <div class="snsitem">
    <button type="submit" class="btn btn-default" ng-click="twitterSignin()" translate="signin.signin_twitter">Sign in with Twitter</button>
  </div>
  <div class="snsitem">
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
  </div>

<hr>

  <p class="title" translate="signin.title_account">Sign in 'chienowa' by user name and password</p>

    <form role="form" name="signin" novalidation>

      <div class="item">
        <div class="subtitle" translate="signin.username">User name
          <span class="notice" ng-show="signin.name.$error.required">*</span>
        </div>
      <input type="text" class="form-control" placeholder="{{'signin.input_your_username' | translate}}" name="name" ng-model="name" required ng-minlength="6" ng-maxlength="16">
      <span class="notice" ng-show="signin.name.$error.minlength" translate="signin.username_more_than_6">Must be more than 6 characters</span>
      <span class="notice" ng-show="signin.name.$error.maxlength" translate="signin.username_less_than_16">Must be less than 16 characters</span>
      </div>

      <div class="item">
        <div class="subtitle" translate="signin.password">Password
          <span class="notice" ng-show="signin.password.$error.required">*</span>
        </div>
      <input type="password" class="form-control" placeholder="{{'signin.input_your_password' | translate}}" name="password" ng-model="password" required required ng-minlength="6" ng-maxlength="16" ng-pattern="/^[a-zA-Z0-9]+$/">
      <span class="notice" ng-show="signin.password.$error.minlength" translate="signin.password_more_than_6">Must be more than 6 characters</span>
      <span class="notice" ng-show="signin.password.$error.maxlength" translate="signin.password_less_than_16">Must be less than 16 characters</span>
      <span class="notice" ng-show="signin.password.$error.pattern" translate="signin.password_illegal">Illegal password type. It must be [0 - 9] and [a - Z], [A - Z]</span>
      </div>

      <div class="item">
        <button type="submit" class="btn btn-primary" name="submit" ng-model="submit" ng-disabled="(name.length == 0)" ng-click="usernameSignin()" translate="signin.signin_with_username">Sign in by user name and password</button>
        <p class="additional" translate="signin.have_account">Don't you have account?</p>
        <p class="additional"><a ui-sref="signup" translate="signin.signup">Sign up</a></p>
      </div>
    </form>
  </div>
</div>
