<div ng-controller="wisdomDetailController" ng-init="initialize()" class="wisdom">
	<div class="titlearea">
		  <div class="thumbnail">
				<div class="image" ng-style="{'background': colorGenerater.generateColor(wisdom.title)}">
					<div class="text">{{wisdom.title | capitalize}}</div>
				</div>
		  </div>
		  <!--
		  <embed ng-src="{{content}}" style="width:200px;height:200px;"></embed>
		  -->
		  <div class="content">
		    <div class="title">{{wisdom.title}}</div>
			<div class="description">{{wisdom.description}}</div>
			<div class="tag"><p>{{wisdom.tag}}</p></div>
			<div class="status">
				<div class="updateDate">Last updated: {{formatTimeInfo(wisdom.updated_date)}}</div>
				<div class="viewinfo">
					<ul>
						<li><div class="viewnum">{{wisdom.count}}</div></li>
						<li>view</li>
					</ul>
				</div>
			</div>
		  </div>
	</div>

	<div class="bodyarea">
		<ul ng-repeat="entry in messages track by $index">
			<li>
				<p ng-show="{{entry.tag}} == 1" class="subtitle">{{entry.message}}</p>
				<p ng-show="{{entry.tag}} == 2">{{entry.message}}</p>
				<div class="message">
					<div class="update" ng-show="isValidDateFormat(entry.updated_date)">
					Last updated: {{formatTimeInfo(entry.updated_date)}}
					</div>
					<div class="like" ng-show="{{entry.tag}} == 2">コメントにイイネ！する<img src="image/like.jpg">{{entry.like_num}}</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="accountSelector">
		<hr>
		How about join in 'chienowa' and spread your wisdom to beginners?
		<div class="buttons">
			<button type="submit" class="btn btn-primary" name="modify" ng-model="modify" ng-click="modifyWisdom()" ng-show="isSignedIn() == true">Modify wisdom</button>
			<div ng-show="isSignedIn() == false">
				<button type="submit" class="btn btn-primary" name="modify" ng-model="modify" ng-click="createAccount()">Create account</button> or <a ui-sref="signin">Sign in</a>
			</div>
		</div>
	</div>
</div>
